<div class="container">
  <br>
  <h1 class="d-flex justify-content-center">Public Recipes</h1>
  <br>
  <br>
<ul>
  <% @recipes.each do |recipe|%>
  <li class=" list-group-item border border-dark">
    <div class="row">
    <div class="col"> <div class="fs-3"><%= link_to recipe.name, recipe_path(recipe),method: :get %></div>
    <div> by: <%= recipe.user.name%></div>
    </div>
    <div class="col">
      <p>Total food items: <%= recipe.total_food_items%></p>
      <p>Total price: <%= recipe.total_price%></p>

    </div>

    </div>
      </li>

  <%end%>
  </ul>

  </div>
