<tr class="row px-3 mx-0">
  <td class="col-5"><%= recipe_food.name %></td>
  <td class="col-2"><%= recipe_food.quantity_measure %></td>
  <td class="col-2"><%= recipe_food.value %></td>
  <td class="col-3 d-flex justify-content-around">
    <% if recipe_food.recipe.user == current_user%>
    <button class="btn btn-warning ">Modify</button>
    <%= button_to 'Delete', recipe_recipe_food_path(id: recipe_food.id, recipe_id: recipe_food.recipe_id), method: :delete, class: 'btn btn-danger btn-sm mb-2' %>
    <% end %>
  </td>
</tr>
