<div class="recipe p-3 border container">
  <div class="row">
    <div class="col-4">
      <strong><%= name %></strong>
      <!-- delete this recipe -->
    </div>
    <div class="col-8">
      <p class="m-0"><%= description %></p>
    </div>
  </div>
</div>