<div>
  <h2>Add Ingredient!</h2>

  <div>
    <%= render 'form_food_table', recipe_food: @recipe_food,foods: @foods %>
  </div>

  <div class="d-flex my-3">
    <%= link_to 'Go back' , recipe_path(@recipe),
      class: 'border border-dark border-2 rounded p-2 text-dark text-decoration-none d-flex align-items-center' %>
  </div>
</div>